<?xml version="1.0"?>

<model>
  <name>tilt_tricopter_fix</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Luwei Liao</name>
    <email>liaoluweillw@163.com</email>
  </author>

  <maintainer email="liaoluweillw@163.com">Luwei Liao</maintainer>

  <description>
    starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    attach gimbal_small_2d model with GimbalSmall2dPlugin
  </description>
  <depend>
    <model>
      <uri>model://tilt_tricopter_base</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://tilt_tricopter_fix_tilt_fix</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://tilt_tricopter_tilt_back</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://tilt_tricopter_prop</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://tilt_tricopter_prop_small</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
