<?xml version="1.0"?>

<model>
  <name>tilt_quadcopter_fix</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Luwei Liao</name>
    <email>liaoluweillw@163.com</email>
  </author>

  <maintainer email="liaoluweillw@163.com">Luwei Liao</maintainer>

  <description>
    Based on tilt_quadcopter, each coaxial propeller pair on every tilting
    arm is mounted with an additional fixed roll offset around the body
    X axis (upper motor +20 deg, lower motor -20 deg), on top of the
    existing active tilt servo mechanism.
  </description>
  <depend>
    <model>
      <uri>model://tilt_quadcopter_base</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://tilt_quadcopter_tilt_front</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://tilt_quadcopter_prop</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
