<?xml version="1.0"?>

<model>
  <name>quadruped_ck</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>journey</name>
    <email>298989959@qq.com</email>
  </author>

  <maintainer email="298989959@qq.com">journey</maintainer>


  <description>
    starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    attach gimbal_small_2d model with GimbalSmall2dPlugin
  </description>
  <depend>
    <model>
      <uri>model://quadruped_ck_base</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://quadruped_ck_coxa</uri>
      <version>1.0</version>
    </model>

    <model>
      <uri>model://quadruped_ck_femur</uri>
      <version>1.0</version>
    </model>
    
    <model>
      <uri>model://quadruped_ck_tibia</uri>
      <version>1.0</version>
    </model>

  </depend>
</model>