<?xml version="1.0"?>

<model>
  <name>tilt_tricopter_imu</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Tianli Zhao</name>
    <email>zhaotianli1993@gmail.com</email>
  </author>

  <maintainer email="zhaotianli1993@gmail.com">Tianli Zhao</maintainer>

</model>
