<?xml version="1.0"?>

<model>
  <name>usl_bicopter</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Luwei Liao</name>
    <email>liaoluweillw@163.com</email>
  </author>

  <maintainer email="liaoluweillw@163.com">Luwei Liao</maintainer>

  <description>Single-tilt-degree bicopter based on usl_bv2.</description>
  <depend>
    <model>
      <uri>model://usl_bicopter_base</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://usl_bicopter_tilt</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://usl_bicopter_prop</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
