<?xml version="1.0"?>

<model>
  <name>usl_balancebot_wheel</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fadri Furrer</name>
    <email>fadri.furrer@mavt.ethz.ch</email>
  </author>
 

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    attach gimbal_small_2d model with GimbalSmall2dPlugin
  </description>

</model>