<?xml version="1.0"?>

<model>
  <name>nonplant_hex_prop</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>uavros</name>
    <email>uavros@example.com</email>
  </author>

  <maintainer email="uavros@example.com">uavros</maintainer>

  <description>
    Propeller link of the non-coplanar hexrotor (nonplant_hex).
  </description>

</model>
